/* peatio exchange site vars
-------------------------------------------------------------- */

$gutter: 2px;
$min-width: 1180px;
$min-height: 900px;

$navbar-height: $navbar-height + 1px;
$panel_table_header_high: 37px;
$gutter-2x: $gutter * 2;
$gutter-3x: $gutter * 3;
$gutter-4x: $gutter * 4;
$gutter-5x: $gutter * 5;
$gutter-6x: $gutter * 6;


$left-column-width: 280px; 
$right-column-width: 242px; 

$entry-width: $left-column-width;
$entry-height: 196px;

$ticker-height: 55px;
$depths-height: 102px;


$order-book-width: $right-column-width - $gutter;

$my-orders-width: $left-column-width + $order-book-width;
$my-orders-height: 222px;
$order-book-height: $min-height - $navbar-height - $my-orders-height;

$market-list-width: $left-column-width;
$market-list-height: $entry-height;

$market-trades-width: $market-list-width;
$market-trades-height: $min-height - $navbar-height - $gutter;

$candlestick-width: $min-width - $left-column-width - $right-column-width - $gutter;
$candlestick-height: $min-height - $navbar-height - $ticker-height - $depths-height - $gutter-2x;

$ticker-width: $candlestick-width + $gutter;


$depths-width: $candlestick-width + $gutter;

